
.profile_page_background{
    background: url("../../assets/imgs/background_image.png") no-repeat center center fixed #000;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
//seperator responsive image for profile details
.profile_seperator{
    margin-top:40%;
    height: 80%;
}

//css for mobiles [not in landscape mode]
@media screen and (min-width: 300px) {
   

P { text-align: center;
    font-family: 'Navigation-icons'; 
}

h2{
    line-height: 15px;
    color: white;
    font-family: 'Navigation-icons';
}


h5{
    line-height: 15px;
    color: white;
    font-size: 1.6em;
    font-family: 'Navigation-icons';
}

//talent marketplace logo
.heading_image{
    position: absolute;
    top:-80%;
    left: 10%;
    width: 80%;
}

//content in trp details
.trp_Content{
    font-size: 1.2em;
}

//content in certification
.certification_Content{
    font-size: 1.2em;
}
//content in basic info
.basicInfo_Content{
    font-size: 1.2em;
}
//content in recommendations
.recom_content{
    text-align: center; 
    font-size: 1.2em;
}

.icon-burger_menu:before {
    content: "\e918";
    color: white;
    position: absolute;
    right:0%;
    top:100%;
    font-size: 1.8em;
    font-family: 'Navigation-icons';
  }

  //heading of all divisions
.heading_divs{
    padding-top: 1%;
    color: #00BAEE;
    font-family: 'Navigation-icons';
    font-size: 1.5em;
}
//CSS of all content divs
.content_divs{
    padding-top: 1%;
    font-family: 'Navigation-icons';
    color: #626262;
}
//CSS of all seperator
.seperator{
    color: #00BAEE;
    font-size: 1.0em;
    font-family: 'Navigation-icons';
}
//CSS of all staffing details left keys
.staff_key{
    font-size: 1em;
    font-family: 'Navigation-icons';
    color: #626262;
}
//CSS of all staffing details left keys
.staff_value{
    font-size: 0.8em;
    font-family: 'Navigation-icons';
    margin-top: 0%;
    color: #353739;
}
//employee profile pic
.employee_image{
    position: absolute;
    top:5%;
    left: 35%;
    width: 27%;
    height: 32%;
    
}
//employee profile pic
.employee_name{
    font-family: 'Navigation-icons';
    color: white;
    position: relative;
    text-align:center;
    top: 39%;
    font-size: 1.5em;
    font-weight: bold;
}

.employee_details_pannel{
    font-family: 'Navigation-icons';
    position: relative;
    top:35%;
}

.employee_left_pannel{
    font-family: 'Navigation-icons';
    text-align: center;
    margin-top: 4%;
    // border: 1px solid white;
}


.employee_left_pannel_details{
    font-family: 'Navigation-icons';
    color: white;
    font-size: 1em;
}

.employee_right_pannel{
    font-family: 'Navigation-icons';
    text-align: center;
    margin-top: 4%;
    // border: 1px solid white;
}

.employee_right_pannel_details{
    font-family: 'Navigation-icons';
    color: white;
    font-size: 1em;
}

.employee_linkedin{
    font-family: 'Navigation-icons';
    // margin-top: 10%;
    // border: 1px solid white;
    text-align: center;
    position: absolute;
    bottom: -1%;
    left: 0%;
    width: 100%;
    font-size: 0.6em;
}




.profileDetailsDiv{
    font-family: 'Navigation-icons';
    position: relative;
    float: left;
    margin-top:12.5%;
    left:1%;
    height: 50%;
    width: 98%;
    background-color: black;
    opacity: 0.6;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-radius: 4px
}

.aboutmeHeadingDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px;
    z-index: 9879;
}

.aboutmeDivShort{ 
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    margin-top: -1%;
    float:left;   
    padding-left: 4%;
    padding-right: 4%;
    left:1%;
    height: auto;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  
}

.aboutmeDivLong{  
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    margin-top: -1%;
    float:left;   
    padding-left: 4%;
    padding-right: 4%;
    left:1%;
    height: 25%;
    width: 98%;
    background-color: white;
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;  
}

.aboutmeFooter{
    font-family: 'Navigation-icons';
    position: relative;
    float:left; 
    left:1%;
    margin-top: -1%;
    width:98%;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
     
}

#aboutmeIcon{
    font-family: 'Navigation-icons';
    // border: 2px solid black;
    position: relative;
    left:48%;
    width:5%;
}

  

.workExperienceHeadingDiv{
    font-family: 'Navigation-icons';
//    border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px;
}

.workExperienceContentDiv{
    font-family: 'Navigation-icons';
//    border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: 10%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  
}

.trpDetailsHeadingDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px;
}

.trpDetailsContentDiv{
    font-family: 'Navigation-icons';
  //  border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: 10%;
    width: 98%;
    background-color: white;
    border-radius: 0px 0px 4px 4px;  
}


.certificationsHeadingDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px;
}

.certificationsContentDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: 10%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  

}

.basicInformationHeadingDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px;
}

.basicInformationContentDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: auto;
    padding-bottom: 4%;
    width: 98%;
    background-color: white;
    border-radius: 0px 0px 4px 4px;  
}

.skillsHeadingDiv{
    font-family: 'Navigation-icons';
  //  border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px; 
}

.skillsContentDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: 15%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  
}

.staffingDetailsHeadingDiv{
    font-family: 'Navigation-icons';
    //border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px;
}

.staffingDetailsContentDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    padding-bottom: 4%;
    left:1%;
    height: auto;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  
}

.rolesHandledHeadingDiv{
    font-family: 'Navigation-icons';
  //  border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    border-radius: 4px 4px 0px 0px;
}

.rolesHandledContentDiv{
    font-family: 'Navigation-icons';
//border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: 15%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  
}

.existingRecommendationsHeadingDiv{
    font-family: 'Navigation-icons';
   // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: 3%;
    left:1%;
    height: 8%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 4px 4px 0px 0px; 
}

.existingRecommendationsContentDiv{
    font-family: 'Navigation-icons';
     // border: 2px solid black;
    position: relative;
    float:left;   
    margin-top: -1%;
    left:1%;
    height: 15%;
    width: 98%;
    background-color: white;
    overflow: none;
    border-radius: 0px 0px 4px 4px;  
}

  .icon-linkedin:before {
      
    content: "\e99c";
    color: white;
    font-size: 0.5em;
    font-weight: bold;
    font-family: 'Navigation-icons'
}


.icon-edit:before {
    content: "\e939";
    color: #00BAEE;
    font-size: 1.3em;
    position: absolute;
    right: 4%;
    font-family: 'Navigation-icons'
  }

  .icon-circle_add:before {
    content: "\e920";
    color: #00BAEE;
    font-size: 1.5em;
    font-family: 'Navigation-icons'
  }

  .icon-arrow_down:before {
    content: "\e908";
    color: #00BAEE;
    font-family: 'Navigation-icons'
  }
  
  .icon-arrow_drop_up:before{
    content: "\e90c";
    color: #00BAEE;
    font-family: 'Navigation-icons' 
  }

  .icon-analysis:before {
    content: "\e904";
    color: white;
    padding-right: 12%;
    font-family: 'Navigation-icons'
  }
  .icon-handshake:before {
    content: "\e9a5";
    color: white;
    padding-right: 12%;
    font-family: 'Navigation-icons'
  }

  .icon-trophy:before {
    content: "\e9a6";
    color: white;
    padding-right: 12%;
    font-family: 'Navigation-icons'
  }

  }








// CSS FOR TABLETS

@media screen and (min-width: 700px) {
   


    P { text-align: center;
        font-family: 'Navigation-icons';
     }
    
    h2{ font-family: 'Navigation-icons';
        line-height: 15px;
        color: white;
    }
    h5{ font-family: 'Navigation-icons';
        line-height: 15px;
        color: white;
        font-size: 1.6em;
    }
    .heading_image{
        position: absolute;
        top:-80%;
        left: 10%;
        width: 80%;
    }
    
    
    .icon-burger_menu:before {
        content: "\e918";
        color: white;
        position: absolute;
        right:1%;
        top:400%;
        font-size: 3.0em;
        font-family: 'Navigation-icons'
      }
     //heading of all divisions
    .heading_divs{
        font-family: 'Navigation-icons';
        position: absolute;
        left: 1%;
        padding-top: 2%;
        font-size: 2.5em;
        color: #00BAEE;
    }
    //CSS of all content divs
    .content_divs{
        font-family: 'Navigation-icons';
        padding-top: 1%;
        color: #626262;
    }
    //CSS of all seperator
    .seperator{
        font-family: 'Navigation-icons';
        color: #00BAEE;
        font-size: 2.0em;
    }
    //CSS of all staffing details left keys
    .staff_key{
        font-family: 'Navigation-icons';
        color: #626262;
        left: 1%;
        font-size: 2.0em;
    }
    //CSS of all staffing details left values
    .staff_value{
        font-family: 'Navigation-icons';
        color: #353739; 
        left: 1%;
        font-size: 1.9em;
    }
    //employee profile pic
    .employee_image{
        position: absolute;
        top:5%;
        left: 35%;
        width: 30%;
        height: 38%;
        
    }
    //employee name
    .employee_name{
        font-family: 'Navigation-icons';
        color: white;
        position: relative;
        text-align:center;
        top: 45%;
        font-size: 2.2em;
        font-weight: bold;
    }
    
    .employee_details_pannel{
        font-family: 'Navigation-icons';
        position: relative;
        top:50%;
    }
    
    .employee_left_pannel{
        font-family: 'Navigation-icons';
        text-align: center;
        // border: 1px solid white;
    }
    
    
    .employee_left_pannel_details{
        font-family: 'Navigation-icons';
        color: white;
        font-size: 1.9em;
    }
    
    .employee_right_pannel{
        font-family: 'Navigation-icons';
        text-align: center;
        // border: 1px solid white;
    }
    
    .employee_right_pannel_details{
        font-family: 'Navigation-icons';
        color: white;
        font-size: 1.9em;
    }
    
    .employee_linkedin{
        font-family: 'Navigation-icons';
        padding: 0px;
        // border: 1px solid white;
        text-align: center;
        position: absolute;
        bottom: 2%;
        left: 0%;
        width: 100%;
        font-size: 1.1em;
    }
    
    
    
    .profileDetailsDiv{
        font-family: 'Navigation-icons';
        position: relative;
        float: left;
        margin-top:14%;
        left:1%;
        height: 50%;
        width: 98%;
        background-color: black;
        opacity: 0.6;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        border-radius: 4px
    }
    
    .aboutmeHeadingDiv{
        font-family: 'Navigation-icons';
    //    border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px;
        z-index: 9879;
    }
    
    .aboutmeDivShort{ 
        font-family: 'Navigation-icons';
       // border: 2px solid black;
        position: relative;
        margin-top: -1%;
        float:left;   
        padding-left: 4%;
        padding-right: 4%;
        left:1%;
        font-size: 1.2em;
        height: 17%;
        width: 98%;
        background-color: white;
        overflow: hidden;
        border-radius: 0px 0px 4px 4px;  
    }
    
    .aboutmeDivLong{  
        font-family: 'Navigation-icons';
       // border: 2px solid black;
        position: relative;
        margin-top: -1%;
        float:left;   
        padding-left: 4%;
        padding-right: 4%;
        left:1%;
        height: auto;
        width: 98%;
        background-color: white;
        overflow: hidden;
        border-radius: 0px 0px 4px 4px;  
        font-size: 1.2em;
    }
    
    .aboutmeFooter{
        font-family: 'Navigation-icons';
        position: relative;
        float:left; 
        left:1%;
        margin-top: -1%;
        width:98%;
        background-color: white;
        border-radius: 0px 0px 4px 4px;
         
    }
    
    #aboutmeIcon{
        // border: 2px solid black;
        position: relative;
        left:48%;
        width:5%;
    }
    
      
    
    .workExperienceHeadingDiv{
    //    border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px;
    }
    
    .workExperienceContentDiv{
    //    border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: 10%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 0px 0px 4px 4px;  
    }
    
    .trpDetailsHeadingDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px;
    }
    
    .trpDetailsContentDiv{
      //  border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: 10%;
        width: 98%;
        background-color: white;
        border-radius: 0px 0px 4px 4px;  
    }
    //content in trp details
    .trp_Content{
        font-size: 2.0em;
    }
    //content in certification
    .certification_Content{
        font-size: 2.0em;
    }
    //content in basic info
    .basicInfo_Content{
        font-size: 2.0em;
    }
    //content in recommendations
    .recom_content{
        text-align: center; 
        font-size: 2.0em;
    }
    .certificationsHeadingDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px;
    }
    
    .certificationsContentDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: 10%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 0px 0px 4px 4px;  
    
    }
    
    .basicInformationHeadingDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px;
    }
    
    .basicInformationContentDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: auto;
        padding-bottom: 4%;
        width: 98%;
        background-color: white;
        border-radius: 0px 0px 4px 4px;  
    }
    
    .skillsHeadingDiv{
      //  border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px; 
    }
    
    .skillsContentDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: 15%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 0px 0px 4px 4px;  
    }
    
    .staffingDetailsHeadingDiv{
        //border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px;
    }
    
    .staffingDetailsContentDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        padding-bottom: 4%;
        left:1%;
        height: auto;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 0px 0px 4px 4px;  
    }
    
    .rolesHandledHeadingDiv{
      //  border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        border-radius: 4px 4px 0px 0px;
    }
    
    .rolesHandledContentDiv{
    //border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: 15%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 0px 0px 4px 4px;  
    }
    
    .existingRecommendationsHeadingDiv{
       // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: 2.2%;
        left:1%;
        height: 8%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 4px 4px 0px 0px; 
    }
    
    .existingRecommendationsContentDiv{
         // border: 2px solid black;
        position: relative;
        float:left;   
        margin-top: -1%;
        left:1%;
        height: 15%;
        width: 98%;
        background-color: white;
        overflow: none;
        border-radius: 0px 0px 4px 4px;  
    }
    

    
      .icon-linkedin:before {
        content: "\e99c";
        color: white;
        font-size: 0.8em;
        font-weight: bold;
        font-family: 'Navigation-icons';
    }
    
    
    .icon-edit:before {
        content: "\e939";
        color: #00BAEE;
        font-size: 1.1em;
        position: absolute;
        right: 50%;
        font-family: 'Navigation-icons';
      }
    
      .icon-circle_add:before {
        content: "\e920";
        position: relative;
        left:12%;
        color: #00BAEE;
        font-size: 2.1em;
        font-family: 'Navigation-icons';
      }
    
      .icon-arrow_down:before {
        content: "\e90c";
        color: #00BAEE;
        font-size: 2.1em;
        font-family: 'Navigation-icons';
      }
  
      .icon-arrow_drop_up:before{
        content: "\e908";
        color: #00BAEE;
        font-size: 2.1em;
        font-family: 'Navigation-icons' 
      }
      
      .icon-analysis:before {
        content: "\e904";
        color: white;
        padding-right: 12%;
        font-size: 1.1em;
        font-family: 'Navigation-icons';
      }
      .icon-handshake:before {
        content: "\e9a5";
        color: white;
        padding-right: 12%;
        font-size: 1.1em;
        font-family: 'Navigation-icons';
      }
    
      .icon-trophy:before {
        content: "\e9a6";
        color: white;
        padding-right: 12%;
        font-size: 1.1em;
        font-family: 'Navigation-icons';
      }
    
      }
    
    
    
    
    
    
    
    
    
    
    
    


